<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/adityapanwar/IdeaProjects/petStoreTesting"><classes><class name="tests.PetTests"><methods><include name="createPetTest"/><include name="findPetByStatus"/><include name="updatePet"/><include name="updatePetByPetId"/><include name="deletePet"/><include name="deletingSameUser"/><include name="uploadPetPhoto"/></methods></class><class name="tests.StoreTests"><methods><include name="createStoreOrder"/><include name="getOrderByOrderId"/><include name="getPetsInventory"/><include name="deletePetOrder"/><include name="createIncorrectPetOrder"/></methods></class><class name="tests.UserTests"><methods><include name="createUserTest"/><include name="findUserByUserNameTest"/><include name="testUpdateUserByName"/><include name="testDeleteUserByName"/></methods></class></classes></test></suite>